/* 
시계방향으로 설정 (top right bottom left 순)
padding : 안쪽 여백
margin : 바깥쪽 여백
border : 테두리

padding : 20px ; - 시계방향 전체를 20px로 지정
padding : 15px 20px ; - top-15px / right-20px / bottom, left는 각각 마주보는 쪽의 값을 따름
         (bottom-15px / left-20px)
padding : 10px 15px 18px ; - top-10px / right-15px / bottom-18px / left는 마주보는 right 값(15px)을 따름
 */
input[type="text"],
select {
  width: 100%;
  /* padding 시계방향으로 사이즈 지정 가능(top right bottom left 순) */
  /* 값이 부족하면 마주보는 위치끼리 값을 공유함 */
  padding: 12px 20px;
  margin: 8px 0;
  /* 0은 단위 필요 없음 */
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: skyblue;
  padding: 14px 20px;
  color: blue;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #45a049;
  color: white;
}

input[type="text"]:focus {
  background-color: lightgoldenrodyellow;
}
